@import "tailwindcss";

@theme {
  --color-primary: #7ab529;
  --color-sidebar: #0d1e15;
  --color-sidebar-active: rgba(255, 255, 255, 0.1);
  --color-background: #f3f4f6;
  
  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-gray-900);
    font-family: var(--font-sans);
  }
}
